.to-baikal__content {
  box-sizing: border-box;
  position: relative;
  width: 92.5%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.to-baikal__content::after {
  content: "";
  transition: all 0.4s ease 0s;
  position: absolute;
  background: #2a2c2f center no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
}

.to-baikal__content:hover::after {
  opacity: 0.8;
}

@media (max-width: 1107.027027027px) {
  .to-baikal__content {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .to-baikal__content {
    width: 100%;
  }
}
