.page {
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  grid-template-areas: "header" "main" "footer";
}