.header__row-links {
  grid-column: 3/4;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 5px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: flex-end;
  align-items: flex-end;
}