.lead {
  margin: 0 auto;
  padding: 20px 0 72px 0;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 984px 1fr;
  grid-template-rows: repeat(minmax(min-content, max-content));
}

@media (max-width: 1085.7931034483px) {
  .lead {
    padding: 20px 0 68px 0;
    grid-template-columns: 1fr calc((928 / 1024) * 100%) 1fr;
  }
}

@media (max-width: 847.4482758621px) {
  .lead {
    grid-template-columns: 1fr 768px 1fr;
  }
}

@media (max-width: 768px) {
  .lead {
    display: block;
  }
}

@media (max-width: 540px) {
  .lead {
    padding: 20px 0 44px 0;
  }
}
