.place__block-text {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.63;
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (max-width: 847px) {
  .place__block-text {
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  .place__block-text {
    padding: 0 16px;
  }
}
