.photo-grid__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 540px) {
  .photo-grid__item {
    display: block;
    width: 100%;
    height: 216px;
  }

  .photo-grid__item:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
