.billboard__link {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s ease 0s;
  display: grid;
  grid-template-columns: calc(48 / 1280 * 100%) calc(1184 / 1280 * 100%) calc(48 / 1280 * 100%);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.billboard__link::before {
  content: "";
  position: absolute;
  background: #2a2c2f center no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all 0.4s ease 0s;
}

.billboard__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1107.027027027px) {
  .billboard__link {
    grid-template-columns: 1fr 1024px 1fr;
  }
}

@media (max-width: 1024px) {
  .billboard__link {
    grid-template-columns: 1fr;
  }
}
