.lead__title {
  grid-column: 2/3;
  margin: 0 auto 32px auto;
  padding: 0 24px;
  box-sizing: border-box;
  text-align: center;
  max-width: 768px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}