@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
.root {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #2a2c2f;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  overflow: hidden;
  outline: #00d8df solid 1px;
  display: grid;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  grid-template: minmax(min-content, max-content) 1fr minmax(min-content, max-content)/1fr;
  grid-template-areas: "header" "content" "footer";
}

.header {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: header;
}
.header__row-icon-links {
  outline: #df9900 solid 1px;
  margin: 0 auto 56px auto;
  padding: 28px 0 0 0;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
.header__icon {
  outline: #df9900 solid 1px;
  max-width: 176px;
  max-height: 52px;
}
.header__menu {
  margin: 0;
  padding: 12px 0 0 0;
}
.header__row-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
  align-items: center;
}
.header__link {
  line-height: 1.17;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.header__link_active {
  border-bottom: 2px solid #fff;
  pointer-events: none;
}
.header__block-text-image {
  outline: #df9900 solid 1px;
  width: 984px;
  text-align: center;
  margin: 0 auto;
  /* @media (max-width: calc((1024px * 768px) / 928px)) { */
}
@media (max-width: 1085.793px) {
  .header__block-text-image {
    width: 90.625%;
    /* width: calc((928px / 1024px) * 100%); */
  }
}
@media (max-width: 847.448px) {
  .header__block-text-image {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .header__block-text-image {
    width: 100%;
  }
}
.header_title {
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}
@media (max-width: 740px) {
  .header_title {
    font-size: 90px;
  }
}
@media (max-width: 700px) {
  .header_title {
    font-size: 83px;
  }
}
@media (max-width: 650px) {
  .header_title {
    font-size: 80px;
  }
}
@media (max-width: 600px) {
  .header_title {
    font-size: 74px;
  }
}
@media (max-width: 550px) {
  .header_title {
    font-size: 67px;
  }
}
@media (max-width: 500px) {
  .header_title {
    font-size: 64px;
  }
}
@media (max-width: 475px) {
  .header_title {
    font-size: 60px;
  }
}
@media (max-width: 450px) {
  .header_title {
    font-size: 55px;
  }
}
@media (max-width: 425px) {
  .header_title {
    font-size: 52px;
  }
}
@media (max-width: 400px) {
  .header_title {
    font-size: 47px;
  }
}
@media (max-width: 375px) {
  .header_title {
    font-size: 43px;
  }
}
@media (max-width: 350px) {
  .header_title {
    font-size: 40px;
  }
}
@media (max-width: 325px) {
  .header_title {
    font-size: 35px;
  }
}
.header_subtitle {
  margin: 0 0 64px 0;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
}
@media (max-width: 740px) {
  .header_subtitle {
    font-size: 28px;
  }
}
@media (max-width: 700px) {
  .header_subtitle {
    font-size: 27px;
  }
}
@media (max-width: 650px) {
  .header_subtitle {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .header_subtitle {
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  .header_subtitle {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .header_subtitle {
    font-size: 23px;
  }
}
@media (max-width: 475px) {
  .header_subtitle {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .header_subtitle {
    font-size: 21px;
  }
}
@media (max-width: 425px) {
  .header_subtitle {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .header_subtitle {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .header_subtitle {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .header_subtitle {
    font-size: 17px;
  }
}
@media (max-width: 325px) {
  .header_subtitle {
    font-size: 16px;
  }
}
.header__image {
  max-width: 100%;
  margin: 0 0 8px 0;
}
.header__caption-image {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.content {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: content;
}
.places__link {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #fff;
}
.footer {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: footer;
}
.link {
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 420px) {
  .link:hover {
    opacity: 0.8;
  }
}

.title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}