@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
.root {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #2A2C2F;
  color: white;
}
