@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.root {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #2a2c2f;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  overflow: hidden;
  outline: #00d8df solid 1px;
  display: grid;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  grid-template: minmax(min-content, max-content) 1fr minmax(min-content, max-content) / 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.header {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: header;

  // .header__row-icon-links
  &__row-icon-links {
    outline: #df9900 solid 1px;
    margin: 0 auto 56px auto;
    padding: 28px 0 0 0;
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }

  // .header__icon
  &__icon {
    outline: #df9900 solid 1px;
    max-width: 176px;
    max-height: 52px;
  }

  // .header__menu
  &__menu {
    margin: 0;
    padding: 12px 0 0 0;
  }

  // .header__row-links
  &__row-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
    align-items: center;
  }

  // .header__link
  &__link {
    line-height: 1.17;
    font-size: 24px;
    margin: 0;
    padding: 0;
    &_active {
      border-bottom: 2px solid #fff;
      pointer-events: none;
    }
  }

  &__block-text-image {
    outline: #df9900 solid 1px;
    width: 984px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 1085.793px) {
      width: 90.625%;
      /* width: calc((928px / 1024px) * 100%); */
    }

    /* @media (max-width: calc((1024px * 768px) / 928px)) { */
    @media (max-width: 847.448px) {
      width: 768px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  // .header_title
  &_title {
    margin: 0 0 32px 0;
    padding: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;

    @media (max-width: 740px) {
      font-size: 90px;
    }

    @media (max-width: 700px) {
      font-size: 83px;
    }

    @media (max-width: 650px) {
      font-size: 80px;
    }

    @media (max-width: 600px) {
      font-size: 74px;
    }

    @media (max-width: 550px) {
      font-size: 67px;
    }

    @media (max-width: 500px) {
      font-size: 64px;
    }

    @media (max-width: 475px) {
      font-size: 60px;
    }

    @media (max-width: 450px) {
      font-size: 55px;
    }

    @media (max-width: 425px) {
      font-size: 52px;
    }

    @media (max-width: 400px) {
      font-size: 47px;
    }

    @media (max-width: 375px) {
      font-size: 43px;
    }

    @media (max-width: 350px) {
      font-size: 40px;
    }

    @media (max-width: 325px) {
      font-size: 35px;
    }
  }

  // .header_subtitle
  &_subtitle {
    margin: 0 0 64px 0;
    padding: 0;
    font-size: 30px;
    line-height: 1.2;

    @media (max-width: 740px) {
      font-size: 28px;
    }

    @media (max-width: 700px) {
      font-size: 27px;
    }

    @media (max-width: 650px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
    }

    @media (max-width: 550px) {
      font-size: 24px;
    }

    @media (max-width: 500px) {
      font-size: 23px;
    }

    @media (max-width: 475px) {
      font-size: 22px;
    }

    @media (max-width: 450px) {
      font-size: 21px;
    }

    @media (max-width: 425px) {
      font-size: 20px;
    }

    @media (max-width: 400px) {
      font-size: 19px;
    }

    @media (max-width: 375px) {
      font-size: 18px;
    }

    @media (max-width: 350px) {
      font-size: 17px;
    }

    @media (max-width: 325px) {
      font-size: 16px;
    }
  }

  // .header__image
  &__image {
    max-width: 100%;
    margin: 0 0 8px 0;
  }

  // .header__caption-image
  &__caption-image {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.content {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: content;

  // .content__what-to-look-at
  &__what-to-look-at {
  }

  // .content__block-images
  &__block-images {
  }

  // .content__places
  &__places {
  }

  // .content__to-baikal
  &__to-baikal {
  }
}

.what-to-look-at {
  // .what-to-look-at__title
  &__title {
  }

  // .what-to-look-at__text
  &__text {
  }

  // .what-to-look-at__list-statistics
  &__list-statistics {
  }
}

.list-statistics {
  // .list-statistics__item
  &__item {
  }

  // .list-statistics__text
  &__text {
  }

  // .list-statistics__number
  &__number {
  }
}

.block-images {
  // .block-images__item
  &__item {
  }
}

.places {
  // .places__list
  &__list {
  }

  // .places__item
  &__item {
  }

  // .places__block-title-image
  &__block-title-image {
  }

  // .places__title
  &__title {
  }

  // .places__image
  &__image {
  }

  // .places__block-text
  &__block-text {
  }

  // .places__caption
  &__caption {
  }

  // .places__link
  &__link {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #fff;
  }

  // .places__paragraph
  &__paragraph {
  }
}

.to-baikal {
  // .to-baikal__image
  &__image {
    @media (min-width: 420px) {
      &:hover {
      }
    }
  }

  // .to-baikal__title
  &__title {
  }

  // .to-baikal__subtitle
  &__subtitle {
  }
}

.footer {
  outline: #df0091 solid 1px;
  overflow: hidden;
  box-sizing: content-box;
  grid-area: footer;

  // .footer__menu
  &__menu {
  }

  // .footer__row-links
  &__row-links {
  }

  // .footer__link
  &__link {
  }

  // .footer__copyright
  &__copyright {
  }
}

.link {
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 420px) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}
