@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/root/root.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__main/page__main.css);
@import url(../blocks/page/__footer/page__footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__icon/header__icon.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__row-links/header__row-links.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__container/lead__container.css);
@import url(../blocks/lead/__content/lead__content.css);
@import url(../blocks/lead/__decorative-image/lead__decorative-image.css);
@import url(../blocks/lead/__images-box/lead__images-box.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__container/intro__container.css);
@import url(../blocks/intro/__list-number/intro__list-number.css);
@import url(../blocks/intro/__list-statistics/intro__list-statistics.css);
@import url(../blocks/intro/__list-text/intro__list-text.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__container/photo-grid__container.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__block-text/places__block-text.css);
@import url(../blocks/places/__caption/places__caption.css);
@import url(../blocks/places/__container/places__container.css);
@import url(../blocks/places/__content/places__content.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__link-box/places__link-box.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/places/__title/places__title.css);

@import url(../blocks/to-baikal/to-baikal.css);
@import url(../blocks/to-baikal/__container/to-baikal__container.css);
@import url(../blocks/to-baikal/__content/to-baikal__content.css);
@import url(../blocks/to-baikal/__subtitle/to-baikal__subtitle.css);
@import url(../blocks/to-baikal/__text-block/to-baikal__text-block.css);
@import url(../blocks/to-baikal/__title/to-baikal__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__list-links/footer__list-links.css);

@import url(../blocks/link/link.css);

@import url(../blocks/title/title.css);

@import url(../blocks/adaptiv-image/adaptiv-image.css);

@media (max-width: 1085.7931034483px) {
  .header {
    padding: 28px 0 36px 0;
  }

  .lead {
    padding: 20px 0 68px 0;
  }

  .lead__content {
    width: calc((928/1024)*100%);
  }

  .lead__subtitle {
    margin: 0 auto 56px auto;
  }

  .intro__container {
    width: calc((928/1024)*100%);
  }

  .photo-grid__list {
    grid-template-columns: repeat(3, 32.3275862069%);
    grid-template-rows: repeat(auto-fill, 225px);
    grid-auto-rows: 225px;
    gap: 14px;
  }

  .places__content {
    width: calc((928/1024)*100%);
  }

  .places__item {
    grid-template-columns: 47.4137931034% 49.1379310345%;
  }
}

@media (max-width: 940px) {
  .header__container {
    padding: 0 36px;
  }

  .lead__caption {
    padding: 0 12px;
  }

  .intro__container {
    padding: 0 12px;
  }

  .photo-grid__container {
    padding: 0 35px;
  }

  .places__content {
    padding: 0 12px;
  }

  .footer__container {
    padding: 0 36px;
  }

  .title {
    font-size: 62px;
  }
}

@media (max-width: 847.4482758621px) {
  .header__container {
    padding: 0 24px;
  }

  .lead__content {
    width: 768px;
  }

  .lead__caption {
    padding: 0 24px;
  }

  .intro {
    padding: 20px 0 68px 0;
  }

  .intro__container {
    width: 768px;
    padding: 0 24px;
  }

  .photo-grid {
    padding: 20px 0 68px 0;
  }

  .photo-grid__container {
    padding: 0 24px;
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, 48.8888888889%);
    grid-template-rows: repeat(auto-fill, 264px);
    grid-auto-rows: 264px;
    gap: 16px;
  }

  .places {
    padding: 20px 0 70px 0;
  }

  .places__content {
    width: 768px;
    padding: 0 24px;
  }

  .places__item {
    grid-template-columns: 47.2222222222% 48.8888888889%;
  }

  .places__block-text {
    font-size: 16px;
  }

  .places__caption {
    line-height: 1;
  }

  .to-baikal {
    padding: 20px 0 68px 0;
  }

  .footer__container {
    padding: 0 24px;
  }

  .title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  .lead__content {
    width: 100%;
  }

  .intro__container {
    width: 100%;
  }

  .places__content {
    width: 100%;
  }

  .to-baikal__content::after {
    transition: none;
  }

  .to-baikal__content:hover::after {
    opacity: 0.3;
  }

  .link {
    transition: none;
  }

  .link:hover {
    opacity: 1;
  }
}

@media (max-width: 730px) {
  .lead__title {
    font-size: 80px;
  }

  .intro__container {
    padding: 0 12px;
  }

  .places__content {
    padding: 0 12px;
  }
}

@media (max-width: 620px) {
  .lead__title {
    font-size: 70px;
  }

  .lead__subtitle {
    font-size: 25px;
  }

  .intro__container {
    padding: 0;
  }

  .intro__title {
    font-size: 38px;
    padding: 0 16px;
  }

  .intro__text {
    padding: 0 16px;
  }

  .intro__list-statistics {
    padding: 0 16px;
  }

  .places__content {
    padding: 0;
  }

  .places__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .places__title {
    padding: 0 16px;
  }

  .places__link-box {
    padding: 0 16px;
    align-self: flex-start;
  }

  .places__block-text {
    padding: 0 16px;
  }

  .to-baikal__text-block {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 16px 0 48px 0;
  }

  .header__container {
    padding: 0 16px;
  }

  .header__icon {
    max-width: 142px;
    max-height: 42px;
  }

  .header__lang-link {
    line-height: 1.11;
    font-size: 18px;
  }

  .lead {
    padding: 20px 0 44px 0;
  }

  .lead__title {
    margin: 0 0 16px 0;
    font-size: 50px;
  }

  .lead__subtitle {
    margin: 0 0 40px 0;
    font-size: 20px;
  }

  .intro {
    padding: 20px 0 44px 0;
  }

  .intro__title {
    font-size: 36px;
  }

  .photo-grid {
    padding: 20px 0 44px 0;
  }

  .photo-grid__container {
    padding: 0 16px;
  }

  .photo-grid__list {
    display: block;
  }

  .photo-grid__item {
    display: block;
    width: 100%;
    height: 216px;
  }

  .photo-grid__item:not(:last-of-type) {
    margin-bottom: 12px;
  }

  .places {
    padding: 20px 0 46px 0;
  }

  .to-baikal {
    padding: 20px 0 44px 0;
  }

  .footer__container {
    padding: 0 16px;
    row-gap: 48px;
  }

  .footer__list-links {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    line-height: 1;
    row-gap: 32px;
    font-size: 24px;
  }

  .footer__copyright {
    flex: 1 1 100%;
    text-align: left;
    line-height: 1;
  }
}

@media (max-width: 420px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    padding: 0;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding: 0;
  }

  .lead__caption {
    padding: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .to-baikal__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }

  .title {
    font-size: 32px;
    line-height: 1.09;
  }
}
