.lead__caption {
  grid-column: 2/3;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

@media (max-width: 859px) {
  .lead__caption {
    padding: 0 3.125%;
  }
}

@media (max-width: 420px) {
  .lead__caption {
    padding: 0 16px;
  }
}
