.intro__title {
  grid-column: 2/3;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px 0;
  padding: 0;
}

@media (max-width: 620px) {
  .intro__title {
    font-size: 38px;
  }
}

@media (max-width: 540px) {
  .intro__title {
    font-size: 36px;
  }
}

@media (max-width: 420px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
